.fa-brands {
    font-size: 20px;
    padding-top: 8px;
}
.nameIcon {
    margin-left: 2px;
}
.object-fit-fill{
    width: 500px;
}
.Post {
    width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 2px;
}
.post-header {
    display: flex;
    justify-content: space-between;
}
.headerPost1 {
    display: flex;
}
.optionMenuIcon {
    margin-top: 30px;
    padding: 20px;
    font-size: 25px;
}
.iconsPost {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.namePost {
    padding: 5px;
}
.namePost p {
    font-size: 20px;
    
}
i.fa-regular.fa-heart {
    margin-right: 5px;
}
i.fa-regular.fa-comment {
    margin-right: 5px;
}
.namePost h1 {
    padding-bottom: 0px;
    margin-bottom: 0;
}
.namePost p {
    margin-top: 0;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: rgb(218, 214, 214);
}
img {
    width: 100%;
    height: 300px;
    margin-top: 10px;
}
.columnFeed img {
    width: 90%;
    height: auto;
    margin: 70px;
} 
